$peekElementBorder: 1px solid white;
$peekElementBorderRadius: 3px;
$backgroundColor: rgba(0, 0, 0, .3);

:host {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  height: 40px;
  border: 2px solid white;
  border-radius: 5px;

  padding: 4px;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

  background-color: $backgroundColor;

  .time-peeker {
    flex-grow: 1;
    border: $peekElementBorder;
    border-radius: $peekElementBorderRadius;
  }

  .play-toggler, .stop {
    $togglerWidth: 40px;
    flex-grow: 0;
    border: $peekElementBorder;
    border-radius: $peekElementBorderRadius;
    margin-left: 5px;
    width: $togglerWidth;
    position: relative;
  }

  .volume-toggler {
    $togglerWidth: 40px;
    flex-grow: 0;
    border: $peekElementBorder;
    border-radius: $peekElementBorderRadius;
    width: $togglerWidth;

    margin-left: 5px;
    position: relative;

    &:hover {
      .volume-peeker {
        display: block;
      }
    }

    .volume-peeker {
      $volumePeekerHeight: 120px;
      display: none;

      .volume-peeker-face {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 10px;

        border: $peekElementBorder;
        border-radius: $peekElementBorderRadius;
        background-color: $backgroundColor;
      }

      width: $togglerWidth;
      position: absolute;
      height: $volumePeekerHeight;
      left: -1;
      top: -121px;

      &:hover {
        display: block;
      }
    }
  }
}
